body 
{
    background-color:White;
    font-family: Calibri, Verdana;
    color:Black;
}

.row
{
    padding-bottom:20px;
}

H2
{
    font-family: Calibri, Verdana;
}

DIV
{
    font-family: Calibri, Verdana;
}

A
{
    font-family: Calibri, Verdana;
}
